{:source-paths ["src"]
 :nrepl {:port 3333}
 :http  {:port 9630}

 :dependencies
 [[binaryage/devtools "0.9.10"]
  [binaryage/chromex "0.9.3"]
  [cljs-http "0.1.46"]
  [org.clj-commons/hickory "0.7.3"]
  [reagent "1.1.1"]]

 :builds
 {:extension
  {:target :esm
   :output-dir "resources/unpacked/out"
   :runtime :custom
   :compiler-options
   {:closure-output-charset "US-ASCII"
    :optimizations :simple}
   :modules
   {:shared
    {:entries []}
    :popup
    {:init-fn cnn-chrome-extension.popup/init!
     :depends-on #{:shared}}}}}}
